body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
p {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.contactanos{
  background-color: #85c14c;
  color: white;
  padding: 20px;
}
header {
  background-color: #fff;
  color: #14ba7c;
  padding: 10px;
  position: fixed;
    width: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.navbar-menu {
  margin-right: 200px;
}
.navbar-brand a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-item {
  margin-right: 10px;
}

.nav-item a {
  color: #14ba7c;
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .navbar-menu {
    display: none;
  }

  .hamburger-menu {
    display: flex;
  }
}
